<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>OTP verify Form</title>
</head>
<body>
    
    <form style = "margin-top: 50px;margin-left: 50px;margin-right: 50px;" action="{% url 'otp-verify' id %}" method=POST>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1">OTP</label>
          <input type="OTP" class="form-control" id="exampleInputOTP" placeholder="OTP" name = 'otp'>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>